.sign-container:hover .video-blur,
.sign-container:hover .title-blur {
  filter: none; /* Removes the blur on hover of the container */
}

.video-blur {
  filter: blur(50px); /* Adjust the blur level as needed */
}

.title-blur {
  filter: blur(15px); /* Adjust the blur level as needed */
}