#hamburgerMenu {
  cursor: pointer;
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
}

#hamburgerMenu div {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
}

#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 70px;
}

#sidebar a {
  padding: 0px 8px 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sidebar a:hover {
  color: #f1f1f1;
}
