nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0 10px;
  color: white;
}

nav > div {
  display: flex;
  align-items: center;
}

.headline {
  margin: 0;
  padding: 0;
}

.control-btn {
  border: none;
  padding: 10px 15px;
  margin: 0;
  color: white;
  background-color: #555;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-btn.selected {
  background-color: purple;
}

.control-btn + .control-btn {
  border-left: 1px solid white;
}

body.wait,
body.wait button {
  cursor: wait;
}

nav > div > .control-btn:nth-of-type(1).blur-btn,
nav > div > .control-btn:nth-of-type(1).shuffle-btn {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.blur-btn:last-child,
.shuffle-btn:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#searchInput {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #313131;
  color: white;
}

#searchInput::placeholder {
  color: #ddd;
}
