#navbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0 15px 0 13px;
  color: white;
}

#navbar > div {
  display: flex;
  align-items: center;
}

.headline {
  margin: 0;
  padding: 0;
}

.control-btn {
  border: none;
  padding: 10px 15px;
  margin: 0;
  color: white;
  background-color: #555;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-btn.selected {
  background-color: purple;
}

.control-btn + .control-btn {
  border-left: 1px solid white;
}

body.wait,
body.wait button {
  cursor: wait;
}

#navbar > div > .control-btn:nth-of-type(1).blur-btn,
#navbar > div > .control-btn:nth-of-type(1).shuffle-btn {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.blur-btn:last-child,
.shuffle-btn:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#searchInput {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #313131;
  color: white;
}

#searchInput::placeholder {
  color: #ddd;
}

#control-center-toggle {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#control-center-toggle .fas {
  font-size: 2em;
}

#control-center {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: #414141;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 49;
}

.control-section {
  flex: 0 0 100%; /* Flex-Basis auf 20% der Containerbreite setzen */
  margin-right: 2%; /* Optional: Abstand zwischen den Bereichen */
  padding: 10px;
  box-sizing: border-box;
}

.control-section:last-child {
  margin-right: 0; /* Entfernt den rechten Rand am letzten Element */
}

.control-section h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.control-section input,
.control-section button {
  margin: 5px 0;
  padding: 8px;
  width: calc(
    100% - 16px
  ); /* Vollständige Breite unter Berücksichtigung des Paddings */
  box-sizing: border-box;
}

.control-section button {
  background-color: #626262;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-section button:hover {
  background-color: #7d7d7d;
}

/* Animation für das Ein- und Ausfahren */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
