.notification {
  opacity: 0;
  min-width: 250px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
}

.notification.show {
  opacity: 1; /* Vollständig sichtbar */
}

.notification.positive {
  background-color: #4caf50; /* Grünton */
}

.notification.negative {
  background-color: #f44336; /* Rotton */
}

.notification.neutral {
  background-color: #1b1b1b; /* Neutraler Grauton */
}

.close-btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.close-btn:hover {
  color: #bbb;
}
