/* Grundlegende Stile */
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #202325;
  color: #c8c3bc;
  font-weight: bold;
}

/* Stile für Kategorien */
.category-container {
  margin-bottom: 20px; /* Abstand zwischen Kategorien */
}

.category-heading {
  font-size: 30px;
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid #363636;
}

.sign-container {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 250px; /* Breite des Video-Containers */
  height: 250px; /* Höhe des Video-Containers */
  overflow: hidden; /* Schneidet überstehende Inhalte ab */
  position: relative; /* Ermöglicht die absolute Positionierung von Kindern */
}

.sign-container video {
  position: absolute;
  top: 50%; /* Zentriert das Video vertikal */
  left: 50%; /* Zentriert das Video horizontal */
  transform: translate(
    -50%,
    -50%
  ); /* Verschiebt das Video zurück, um es genau zu zentrieren */
  max-height: 100%; /* Maximale Höhe des Videos */
  max-width: none; /* Entfernt die maximale Breite für Hochformat-Videos */
}

video {
  padding-top: 60px;
}

.video-title {
  font-size: 18px;
  position: absolute;
  top: 0; /* Setzt den Titel oben */
  left: 0; /* Setzt den Titel links */
  width: 100%; /* Breite des Titels entspricht der des Containers */
  text-align: left; /* Links ausgerichteter Text */
  padding: 5px; /* Etwas Platz um den Text */
  box-sizing: border-box; /* Berechnet die Breite einschließlich Padding und Border */
  overflow: hidden; /* Versteckt überstehenden Text */
  white-space: nowrap; /* Verhindert den Zeilenumbruch */
  text-overflow: ellipsis; /* Zeigt '...' an, wenn der Text überläuft */
}
