/* Grundlegende Stile */
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #202325;
  color: #c8c3bc;
  font-weight: bold;
}

/* Stile für Kategorien */
.category-container {
  margin-bottom: 20px; /* Abstand zwischen Kategorien */
}

.category-heading {
  font-size: 30px;
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid #363636;
}

.sign-container {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 250px; /* Container Width */
}

.video-title {
  font-size: 20px;
}

.video-container {
  width: 250px;
  height: 250px;
  overflow: hidden; /* Hide excess parts of the video */
  display: flex;
  justify-content: center; /* Center video horizontally */
  align-items: center; /* Center video vertically */
}

.video-container video {
  height: 250px; /* Set fixed height for video */
  width: auto; /* Width will be auto-scaled */
}

/* blur */
.control-btn {
  /* Add styling for your control buttons here */
}

.sign-container:hover .video-blur,
.sign-container:hover .title-blur {
  filter: none; /* Removes the blur on hover of the container */
}

.video-blur {
  filter: blur(50px); /* Adjust the blur level as needed */
}

.title-blur {
  filter: blur(15px); /* Adjust the blur level as needed */
}

/* Style for the navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Dark background for dark mode */
  padding: 10px;
  color: white;
}

/* Style for the headline */
.headline {
  margin: 0;
  padding: 0;
}

/* Style for each button group container */
nav > div {
  display: flex;
  align-items: center;
}

/* Style for the headings within the button groups */
h2 {
  margin-right: 10px;
}

/* General style for buttons */
.control-btn {
  border: none;
  padding: 10px 15px;
  margin: 0;
  color: white;
  background-color: #555;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style for the selected button */
.control-btn.selected {
  background-color: purple;
}

/* Style for the first and last buttons in each group */
.blur-btn:first-child,
.shuffle-btn:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.blur-btn:last-child,
.shuffle-btn:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Reducing the space between buttons in the same group */
.control-btn + .control-btn {
  border-left: 1px solid white;
}
